:root,
.orchestral-light {
  /** heading's typescales */
  --od-sys-typescale-heading-6-size: var(--od-ref-typeface-size-lg);
  --od-sys-typescale-heading-6-lineHeight: 130%;
  --od-sys-typescale-heading-6-letterSpacing: 0;
  --od-sys-typescale-heading-6-weight: var(--od-ref-typeface-weight-semibold);

  --od-sys-typescale-heading-5-size: var(--od-ref-typeface-size-2xl);
  --od-sys-typescale-heading-5-lineHeight: 130%;
  --od-sys-typescale-heading-5-letterSpacing: 0;
  --od-sys-typescale-heading-5-weight: var(--od-ref-typeface-weight-semibold);

  --od-sys-typescale-heading-4-size: var(--od-ref-typeface-size-3xl);
  --od-sys-typescale-heading-4-lineHeight: 130%;
  --od-sys-typescale-heading-4-letterSpacing: 0;
  --od-sys-typescale-heading-4-weight: var(--od-ref-typeface-weight-semibold);

  --od-sys-typescale-heading-3-size: var(--od-ref-typeface-size-4xl);
  --od-sys-typescale-heading-3-lineHeight: 130%;
  --od-sys-typescale-heading-3-letterSpacing: 0;
  --od-sys-typescale-heading-3-weight: var(--od-ref-typeface-weight-semibold);

  --od-sys-typescale-heading-2-size: var(--od-ref-typeface-size-6xl);
  --od-sys-typescale-heading-2-lineHeight: 130%;
  --od-sys-typescale-heading-2-letterSpacing: 0;
  --od-sys-typescale-heading-2-weight: var(--od-ref-typeface-weight-semibold);
  
  --od-sys-typescale-heading-1-size: var(--od-ref-typeface-size-7xl);
  --od-sys-typescale-heading-1-lineHeight: 130%;
  --od-sys-typescale-heading-1-letterSpacing: 0;
  --od-sys-typescale-heading-1-weight: var(--od-ref-typeface-weight-semibold);

  /** body's typescales */
  --od-sys-typescale-body-small-size: var(--od-ref-typeface-size-sm);
  --od-sys-typescale-body-small-lineHeight: 145%;
  --od-sys-typescale-body-small-letterSpacing: calc(var(--od-sys-typescale-body-small-size) * 0.01); /** 1 percent relatives to font size */
  --od-sys-typescale-body-small-weight: var(--od-ref-typeface-weight-regular);

  --od-sys-typescale-body-medium-size: var(--od-ref-typeface-size-md);
  --od-sys-typescale-body-medium-lineHeight: 145%;
  --od-sys-typescale-body-medium-letterSpacing: calc(var(--od-sys-typescale-body-medium-size) * 0.01); /** 1 percent relatives to font size */
  --od-sys-typescale-body-medium-weight: var(--od-ref-typeface-weight-regular);

  --od-sys-typescale-body-large-size: var(--od-ref-typeface-size-lg);
  --od-sys-typescale-body-large-lineHeight: 145%;
  --od-sys-typescale-body-large-letterSpacing: calc(var(--od-sys-typescale-body-large-size) * 0.01); /** 1 percent relatives to font size */
  --od-sys-typescale-body-large-weight: var(--od-ref-typeface-weight-regular);

  /** label's typescales */
  --od-sys-typescale-label-tiny-size: var(--od-ref-typeface-size-tiny);
  --od-sys-typescale-label-tiny-lineHeight: 150%;
  --od-sys-typescale-label-tiny-letterSpacing: calc(var(--od-sys-typescale-label-tiny-size) * 0.03); /** 3 percent relatives to font size */
  --od-sys-typescale-label-tiny-weight: var(--od-ref-typeface-weight-regular);

  --od-sys-typescale-label-small-size: var(--od-ref-typeface-size-sm);
  --od-sys-typescale-label-small-lineHeight: 140%;
  --od-sys-typescale-label-small-letterSpacing: calc(var(--od-sys-typescale-label-small-size) * 0.03); /** 3 percent relatives to font size */
  --od-sys-typescale-label-small-weight: var(--od-ref-typeface-weight-regular);

  --od-sys-typescale-label-medium-size: var(--od-ref-typeface-size-md);
  --od-sys-typescale-label-medium-lineHeight: 140%;
  --od-sys-typescale-label-medium-letterSpacing: calc(var(--od-sys-typescale-label-medium-size) * 0.03); /** 3 percent relatives to font size */
  --od-sys-typescale-label-medium-weight: var(--od-ref-typeface-weight-regular);

  --od-sys-typescale-label-large-size: var(--od-ref-typeface-size-lg);
  --od-sys-typescale-label-large-lineHeight: 140%;
  --od-sys-typescale-label-large-letterSpacing: calc(var(--od-sys-typescale-label-large-size) * 0.03); /** 3 percent relatives to font size */
  --od-sys-typescale-label-large-weight: var(--od-ref-typeface-weight-regular);
}
