:root {
  /* base color pallete */
  --od-ref-pallete-base-black: #181818;
  --od-ref-pallete-base-white: #FFFFFF;

  /* gray color pallete */
  --od-ref-pallete-gray-0: #F3F3F3;
  --od-ref-pallete-gray-10: #B1B1B1;
  --od-ref-pallete-gray-20: #A5A5A5;
  --od-ref-pallete-gray-30: #999999;
  --od-ref-pallete-gray-40: #8D8D8D;
  --od-ref-pallete-gray-50: #818181;
  --od-ref-pallete-gray-60: #6F6F6F;
  --od-ref-pallete-gray-70: #5E5E5E;
  --od-ref-pallete-gray-80: #4E4E4E;
  --od-ref-pallete-gray-90: #3E3E3E;
  --od-ref-pallete-gray-100: #2E2E2E;

  /* red color pallete */
  --od-ref-pallete-red-0: #FFEEEB;
  --od-ref-pallete-red-10: #FFDDD7;
  --od-ref-pallete-red-20: #FFBAAF;
  --od-ref-pallete-red-30: #FB9688;
  --od-ref-pallete-red-40: #F47060;
  --od-ref-pallete-red-50: #EA4335;
  --od-ref-pallete-red-60: #AE2f25;
  --od-ref-pallete-red-70: #751D15;
  --od-ref-pallete-red-80: #410C08;
  --od-ref-pallete-red-90: #130101;
  --od-ref-pallete-red-100: #030000;

  /* green color pallete */
  --od-ref-pallete-green-0: #EDF9EE;
  --od-ref-pallete-green-10: #DAF2DD;
  --od-ref-pallete-green-20: #B4E4BB;
  --od-ref-pallete-green-30: #8DD69A;
  --od-ref-pallete-green-40: #61C878;
  --od-ref-pallete-green-50: #1DB954;
  --od-ref-pallete-green-60: #18A048;
  --od-ref-pallete-green-70: #13893C;
  --od-ref-pallete-green-80: #0E7131;
  --od-ref-pallete-green-90: #095B26;
  --od-ref-pallete-green-100: #05461B;

  /* blue color pallete */
  --od-ref-pallete-blue-0: #E7ECFF;
  --od-ref-pallete-blue-10: #D0D9FF;
  --od-ref-pallete-blue-20: #A3B3FF;
  --od-ref-pallete-blue-30: #7A8AFF;
  --od-ref-pallete-blue-40: #575CFC;
  --od-ref-pallete-blue-50: #4100F5;
  --od-ref-pallete-blue-60: #2E00B6;
  --od-ref-pallete-blue-70: #1C007B;
  --od-ref-pallete-blue-80: #0B0044;
  --od-ref-pallete-blue-90: #010015;
  --od-ref-pallete-blue-100: #000003;

  /* lightblue color pallete */
  --od-ref-pallete-lightblue-0: #ECF3FF;
  --od-ref-pallete-lightblue-10: #D9E8FF;
  --od-ref-pallete-lightblue-20: #B3D0FE;
  --od-ref-pallete-lightblue-30: #8EB8FC;
  --od-ref-pallete-lightblue-40: #699FF9;
  --od-ref-pallete-lightblue-50: #4285F4;
  --od-ref-pallete-lightblue-60: #2F61B5;
  --od-ref-pallete-lightblue-70: #1C407A;
  --od-ref-pallete-lightblue-80: #0B2144;
  --od-ref-pallete-lightblue-90: #010614;
  --od-ref-pallete-lightblue-100: #000103;

  /* yellow color pallete */
  --od-ref-pallete-yellow-0: #FFF9ED;
  --od-ref-pallete-yellow-10: #FFF3DB;
  --od-ref-pallete-yellow-20: #FEE6B5;
  --od-ref-pallete-yellow-30: #FED88E;
  --od-ref-pallete-yellow-40: #FCCA60;
  --od-ref-pallete-yellow-50: #FBBC05;
  --od-ref-pallete-yellow-60: #BA8B03;
  --od-ref-pallete-yellow-70: #7E5D01;
  --od-ref-pallete-yellow-80: #463200;
  --od-ref-pallete-yellow-90: #150D00;
  --od-ref-pallete-yellow-100: #030200;

  /* orange color pallete */
  --od-ref-pallete-orange-0: #FFF5EC;
  --od-ref-pallete-orange-10: #FFECD9;
  --od-ref-pallete-orange-20: #FED8B3;
  --od-ref-pallete-orange-30: #FCC48C;
  --od-ref-pallete-orange-40: #F9B061;
  --od-ref-pallete-orange-50: #F59B23;
  --od-ref-pallete-orange-60: #B67217;
  --od-ref-pallete-orange-70: #7B4B0C;
  --od-ref-pallete-orange-80: #442804;
  --od-ref-pallete-orange-90: #150900;
  --od-ref-pallete-orange-100: #030100;
}
