:root,
.orchestral-light {
  /** brand color */
  --od-sys-brand-color-logo: var(--od-ref-pallete-base-black);
  --od-sys-brand-color-action: var(--od-ref-pallete-green-50);

  /** primary color */
  --od-sys-primary-color: var(--od-ref-pallete-green-50);
  --od-sys-onprimary-color: var(--od-ref-pallete-base-white);
  --od-sys-primary-container-color: var(--od-ref-pallete-green-30);
  --od-sys-onprimary-container-color: var(--od-ref-pallete-green-80);

  /** secondary color */
  --od-sys-secondary-color: var(--od-ref-pallete-gray-50);
  --od-sys-onsecondary-color: var(--od-ref-pallete-gray-0);
  --od-sys-secondary-container-color: var(--od-ref-pallete-gray-30);
  --od-sys-onsecondary-container-color: var(--od-ref-pallete-gray-80);

  /** state color */
  --od-sys-info-color: var(--od-ref-pallete-blue-30);
  --od-sys-oninfo-color: var(--od-ref-pallete-blue-80);
  --od-sys-warning-color: var(--od-ref-pallete-yellow-30);
  --od-sys-onwarning-color: var(--od-ref-pallete-yellow-80);
  --od-sys-danger-color: var(--od-ref-pallete-red-30);
  --od-sys-ondanger-color: var(--od-ref-pallete-red-80);
  --od-sys-success-color: var(--od-ref-pallete-green-30);
  --od-sys-onsuccess-color: vaar(--od-ref-pallete-green-80);

  /** outline */
  --od-sys-outline-color: var(--od-ref-pallete-gray-10);

  /** surface color */
  --od-surface-color-default: var(--od-ref-pallete-base-white);
  --od-onsurface-color-default: var(--od-ref-pallete-base-black):
}
